<!DOCTYPE html>
<html>

<head>
    {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %}
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="../static/style.css">


    <title>Phonetic - Pagina principal</title>
</head>

<body>
    <div class="navbar navbar-dark bg-dark box-shadow sticky-top">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="{% static 'logo-phonetic.png' %}" width="200px">
            </a>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
                    aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample09">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/catalogo">Catalogo <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-expanded="false">
                                Secciones
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="/secciones/Huawei">Huawei</a></li>
                                <li><a class="dropdown-item" href="/secciones/Xiaomi">Xiaomi</a></li>
                                <li><a class="dropdown-item" href="/secciones/Vivo">Vivo</a></li>
                                <li><a class="dropdown-item" href="/secciones/Samsung">Samsung</a></li>
                                <li><a class="dropdown-item" href="/secciones/Desconocido">Desconocido</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-md-0" action="{% url 'search' %}">
                        <div class="input-group">
                            <input id="searcher" type="search" class="form-control" name="q" placeholder="Search"
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login <span class="sr-only"></span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            </button>
        </div>
    </div>

    <div id="open-menu" class="btn btn-dark btn-floating fixed-bottom open-menu" style="height:5%; width: 5%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
            viewBox="0 0 16 16">
            <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
    </div>

    <div id="menu" class="menu">
            <div class="floating-menu card">
                <div class="card-body">
                    <h3 class="card-title">Cesta</h3>
                </br>
                <h5 class="mt-2" id="precio_total">Precio total: {{precio_total}}€</h5>
                    {% for p in cesta %}
                    <div class="card mt-5" id="carta-{{p.id}}">
                        <div class="card-header">
                            {{p.producto.nombre}} <div id="cantidad-{{p.id}}">x{{p.cantidad}}</div>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-dark" onclick=fetchAsync({{p.id}},0,{{p.producto.precio}})><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-dash-fill" viewBox="0 0 16 16">
                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z"/>
                              </svg></button>
                            <button type="button" class="btn btn-dark" onclick=fetchAsync({{p.id}},1,{{p.producto.precio}})><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
                              </svg></button>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
    </div>


    {% block contenido %}{% endblock %}

    <footer class="text-muted">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text">Datos de contacto</h4>
                    <p class="text-muted">
                    <dl>
                        <div class="row">
                            <div class="col-md-4">
                                <dt>Teléfono</dt>
                                <dd>+34 678 32 94 65</dd>
                            </div>
                            <div class="col-md-4">
                                <dt>Correo</dt>
                                <dd>Phonetic@gmail.com</dd>
                            </div>
                        </div>
                    </dl>
                    <dl>
                        <div class="row">
                            <div class="col-md-8">
                                <dt>Dirección</dt>
                                <dd>Reina Mercedes, Escuela Técnica de Ingeniería Informática </dd>
                            </div>
                        </div>
                    </dl>
                    </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4>¿Necesitas ayuda?</h4>
                    <ul class="list-unstyled">
                        <li><a href="/catalogo">Compra</a></li>
                        <li><a href="/terminos">Terminos de Servicio</a></li>
                        <li><a href="/privacidad">Aviso de Privacidad</a></li>
                        <li><a href="/conocenos">Sobre nosotros</a></li>
                        <li><a href="https://getbootstrap.com/">Boostrap</a></li>
                    </ul>
                </div>
            </div>
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>

    {# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %}

    <script src="../static/floating.js"></script>
    <script src="../static/cestadin.js"></script>

</body>

</html>