<div class="row bg-dark border border-dark rounded pt-3 pb-3">
    <div class="col-md-2 text-light">
        <p><strong>ID del pedido: {{pedido.id}}</strong></p>
    </div>
    <div class="col-md-7">
        <div class="row">
            {% for cestaitem in pedido.cestaItem.all %}
            <div class="col text-light">
                <img src="{{cestaitem.producto.imagen}}" alt="{{cestaitem.producto.nombre}}" width="100px"
                    height="100px">
                <p>{{cestaitem.producto.nombre}}</p>
                <p>x{{cestaitem.cantidad}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if not pedido.estado == estado_entregado %}
    <div class="col-md-3">
        <a href="/seguimiento/{{pedido.id}}"><button type="button" class="btn btn-primary">Mostrar seguimiento</button></a>
        </br>
        </br>
        <a href="/pedido/{{pedido.id}}/cancelar/"><button type="button" class="btn btn-danger">Cancelar pedido</button></a>
    </div>
    {% endif %}
</div>
</br>