{% extends 'base.html' %}

{% block contenido %}
<main role="main">
    <div class="album py-5 bg-light">
    <div class="container">
        <h2>Catálogo de productos</h2>
        </br>
        <div class="row">
        {% for cat in categorias %}
        <div class="col-md-12">
            <h3>{{cat}}</h3>
        </div>
            {% for x in productos %}
            {% if x.categoria == cat %}
            <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <a href="https://www.google.es">
                  <img class="card-img-top" src={{x.imagen}} alt="Card image cap" width="300" height="300">
                </a>
                <div class="card-body">
                <div>
                    <p class="card-text">{{x.nombre}}</p>
                </div>
                <div>
                    <strong>{{x.precio}}€</strong>
                </div>
                <p class="card-text">{{x.descripcion}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" disabled="true" class="btn-primary">{{x.secciones}}</button>
                    </div>
                    <small class="text-muted">{{x.categoria}}</small>
                </div>
                </div>
            </div>
            </div>
        </br>
            {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
    <p class="float-right">
        <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
    </div>
</footer>
{% endblock %}