{% extends 'base.html' %}

{% block contenido %}
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <h2>Catálogo de productos</h2>
            </br>
            <div class="row">
                {% for cat in categorias %}
                <div class="col-md-12">
                    <h3>{{cat}}</h3>
                </div>
                {% for producto in productos %}
                {% if producto.categoria == cat %}
                {% include 'product_card.html' %}
                </br>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

</main>

{% endblock %}