{% extends 'base.html' %}

{% block contenido %}
<div class="bg-light">
    </br>
    <h2 style="text-align: center;">
        <strong>Sobre Nosotros</strong>
    </h2>
    </br>
    <div class=" container pl-5 pr-5">
        <div class="row">
            <div class="col-md-6">
                <img src="https://assets.aboutamazon.com/dims4/default/8f34ef8/2147483647/strip/true/crop/2807x1582+193+0/resize/660x372!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fa9%2F86%2Fa7d253684a0d91f6436035a1faac%2Fseller-3.jpg"
                    alt="Pepe Maromo" width="500px">
            </div>
            <div class="col-md-6">
                <p><strong>Nombre de Proyecto: PDAM (Proyecto de Distribución de Accesorios Móviles)</strong>
                <p>Nombre Consultora: I.S Corporation</p>
                <p>Nombre desarrolladora: 3T S.A.</p> Phonetic es una
                plataforma web que se dedica a la venta de complementos de dispositivos móviles para todas las
                marcas posibles, como por ejemplo Samsung, Huawei, Vivo, Xiaomi etc… Esto abarca desde
                elementos comunes como fundas, cargadores de teléfonos, auriculares, hasta elementos más
                exóticos, como por ejemplo, cascos de VR para teléfonos, soportes, baterías, etc, pasando por
                complementos estéticos.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}