{% extends 'base.html' %}

{% block contenido %}
<div class="bg-light">
  <h2 class="pt-3" style="text-align: center;">Detalles del Producto</h2>
  <div class="container">
    <div class="row align-items-left">

      <div class="col-md-4">
        <div class="album py-5 ml-5">
          <div class="mb-4 box-shadow">
            <img src="{{producto.imagen}}" alt="Iamgen" width="250xp" />
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <br />
        <br />
        <h2>{{producto.nombre}}</h2>
        <p>{{producto.descripcion}}</p>
        <br />
        <br />
        <h1>{{producto.precio}}€</h1>
        <br />
        <h4>Cantidad:</h4>
        <form method="get" class="form-inline my-2 my-md-0">
          {% if producto.stock == 0 %}
          <button type="button" disabled="true" class="btn-outline-danger ml-2 mb-5">AGOTADO</button>
          {% else %}
          <input id="lote" type="number" name="lote" value="1" min="1" max="{{producto.stock}}" />
          <input type="button" onclick=comprarAsync({{producto.id}}) class="btn btn-danger ml-2" value="Comprar">
          <button type="submit" class="btn btn-info  ml-2">Añadir a la cesta</button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>

<script src="../static/comprar.js"></script>


{% endblock %}