{% extends 'base.html' %}

{% block contenido %}
<div class="bg-light">
  <h2 style="text-align: center;">Detalles del Producto</h2>

  <div class="container">
    <div class="row align-items-left">

      <div class="col-md-1"></div>

      <div class="col-md-6">
        <div class="album py-5 ml-5">
          <div class="mb-4 box-shadow">
            <img src="{{producto.imagen}}" alt="Iamgen" width="250xp" />
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <br />
        <br />
        <h2>{{producto.nombre}}</h2>
        <p>{{producto.descripcion}}</p>
        <br />
        <br />
        <h1>{{producto.precio}}€</h1>
        <br />
        {% if producto.stock == 0 %}
        <button type="button" disabled="true" class="btn-outline-danger ml-2">AGOTADO</button>
        {% else %}
        <button type="button" class="btn btn-danger">
          Comprar
        </button>
        <button type="button" class="btn btn-info">
          Añadir a la cesta
        </button>
        {% endif %}
      </div>
    </div>

    </br>
  </div>
  {% endblock %}